.form-group {
    margin-bottom: 1rem;
    display: block;
}

.form-label {
    margin-bottom: 0.5rem;
    display: block;
}

section {
    padding: 20px;
    border-top: lightgrey 2px solid;
    border-bottom: lightgrey 2px solid;
}

.ingredient {
    display: block;
    width: 100px;
    height: 100px;
}

.pot {
    display: block;
    width: 100px;
    height: 150px;
    background-color: lightgrey;
}

.hovering {
    border: 2px dashed grey;
}
